<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.edu.nuaa.gesture">

    <uses-configuration android:reqTouchScreen="finger"/>

    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="true"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_gesture"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.GestureListActivity"
            android:label="@string/app_list_page"/>
        <activity android:name=".activity.GestureAddActivity"
                  android:label="@string/gesture_add_page"/>
        <activity android:name=".activity.GestureRecognizeActivity"
                  android:label="@string/gesture_add_perform"/>
        <activity android:name=".activity.LinkAppActivity"
            android:label="@string/app_link_page">
        </activity>
    </application>

</manifest>